<!--footer-->
<div class="footer">
    <div class="footer-black-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-sm-4 wow fadeInDown">
                    <div class="footerinfo"><i class="footerinfo-icn fa fa-map-marker fa-2x icons-blue"></i>
                        <p>502 - Cosmo Avenue, Suite 55,</p>
                        <p>New York, CA 9008</p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 wow fadeInDown">
                    <div class="footerinfo"><i class="footerinfo-icn fa fa-user fa-2x icons-blue"></i>
                        <p>Phone - (123) 456 7890</p>
                        <p>Email - <a href="mailto:info@envato.com">info@envato.com</a></p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 wow fadeInDown">
                    <div class="footerinfo"><i class="footerinfo-icn fa fa-share-alt fa-2x icons-blue"></i>
                        <div class="icn-social"><a href="#" class="facebook"></a><a href="#" class="twitter"></a><a
                                href="#" class="gplus"></a><a href="#" class="youtube"></a></div>
                    </div>
                </div>
                <div class="clr"></div>
            </div>
            <div class="row footersec wow fadeInDown">
                <div class="col-lg-4 col-sm-4 footer-sec">
                    <h5>Get In Touch</h5>
                    <div class="form-footer">
                        <div class="alert alert-success" id="ContactSuccessMessage" style="display:none"></div>
                        <div class="alert alert-danger" id="ContactErrorMessage" style="display:none"></div>
                        <div id="formerrr" style="display:none"></div>
                        <form id="formfooter" method="post">
                            <div class="form-group fform">
                                <input name="Name" type="text" id="cname" placeholder="Name" class="form-control name"
                                       required/>
                            </div>
                            <div class="form-group fform">
                                <input name="Email" type="email" id="cemail" placeholder="Email Address"
                                       class="form-control" required/>
                            </div>
                            <div class="form-group fform">
                                <input name="Contact" type="text" id="ccnumber" placeholder="Contact Number"
                                       class="form-control" required/>
                            </div>
                            <div class="form-group fform">
                                <input name="Company" type="text" id="ccompany" placeholder="Company Name"
                                       class="form-control" required/>
                            </div>
                            <div class="form-group fform-textarea">
                                <textarea name="Description" id="cmsg" placeholder="Description"></textarea>
                            </div>
                            <!-- Captcha code html -->
                            <div class="form-group">
                                <div class="g-recaptcha" data-sitekey="" id="RecaptchaField2"></div>
                                <span id="recaptchaasd" class="help-block" style="display: none;">Please check that you are not a robot.</span>
                            </div>
                            <!-- Captcha code html -->
                            <div class="fform">
                                <button class="btn btn-success" name="Submit" type="submit">Submit <i
                                        class="fa fa-angle-right fa-1x"></i></button>
                            </div>
                            <div class="clr"></div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 footer-sec">
                    <div class="footerinfo"><i class="footerinfo-icn fa fa-at fa-2x icons-blue"></i>
                        <p>Phone - (123) 456 7890</p>
                        <p>Email - <a href="mailto:info@envato.com">info@envato.com</a></p>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-4 footer-sec">
                    <h5>Iscriviti alla Newsletter</h5>
                    <p>Tenere il passo sulle nostre sempre in evoluzione funzionalità del prodotto e la tecnologia.
                        Inserisci la tua e-mail e iscriviti alla nostra newsletter.</p>
                    <div class="form-footer-newsletter">
                        <div class="alert alert-success" id="SubscribeSuccessMessage" style="display:none"></div>
                        <div class="alert alert-danger" id="SubscribeErrorMessage" style="display:none"></div>
                        <form id="formSubscribe" method="post">
                            <div class="form-group">
                                <input name="email" id="semail" type="email" placeholder="Email Address"
                                       class="form-control" required>
                                <button name="submit" type="submit" value=""><i class="fa fa-envelope fa-1x"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="clr"></div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">&copy; 2016 Jim Council. All Rights Reserved.</div>
                <div class="clr"></div>
            </div>
        </div>
    </div>
</div>
<div class="backtotop"><a href="#0" class="cd-top">Top</a></div>