<!--header-->
<header>
    <div class="header-top header-banner">
        <div class="container">
            <div class="row">
                <div class="topinfo pull-right">
                    <div class="col-md-6"><i class="fa fa-phone fa-x icons-blue"></i>+1 234-567-890</div>
                    <div class="col-md-6"><i class="fa fa-envelope fa-x icons-blue"></i><a
                            href="mailto:info@envato.com">info@envato.com</a></div>
                    <div class="clr"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
    <!--fix header for mobile-->
    <div class="fix-header">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-xs-6 logo">
                    <a href="jimcouncil/">
                        <img src="assets/img/logo.png" alt="Logo Jim Council"/>
                    </a>
                </div>
                <div class="col-xs-2 pull-right res-bar">
                    <nav class="nav is-fixed" role="navigation">
                        <button class="nav-toggle"><span class="icon-menu"><span class="line line-1"></span><span
                                class="line line-2"></span><span class="line line-3"></span></span></button>
                        <div class="nav-container">
                            <ul class="nav-menu menu">
                                <li class="menu-item">
                                    <a href="jimcouncil/"  class="menu-link {% if include.page.home %} active{% endif %}">
                                        Home
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a  href="international-consulting"  class="menu-link {% if include.page.international %} active{% endif %}">
                                        International Consulting
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a  href="management-consulting"  class="menu-link {% if include.page.management %} active{% endif %}">
                                        Management Consulting
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a  href="study-consulting"  class="menu-link {% if include.page.study %} active{% endif %}">
                                        Study Consulting
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a  href="recruting"  class="menu-link {% if include.page.recruting %} active{% endif %}">
                                        Recruting
                                    </a>
                                </li>
                                <li class="menu-item">
                                    <a href="formazione" class="menu-link {% if include.page.formazione %} active{% endif %}">
                                        Formazione
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="clr"></div>
            </div>
        </div>
    </div>
</header>
<!--middle content-->