<header>
    {% if include.page.home %}
    <div class="header-dark menu-bottom">
    {% else %}
    <div class="header-dark top">
    {% endif %}
        <div class="container full-width">
            <div class="row header-data">
                <div class="col-md-1 col-xs-2 logo">
                    <a href="index.html"><img src="/assets/img/logo.png"alt="Logo Jim Council"/></a>
                </div>
                <div class="col-md-11 pull-right">
                    <section class="top-bar-section">
                        <ul class="menu-diamond right">
                            <li>
                                <a href=""  {% if include.page.home %} class="active"{% endif %}>
                                    <div class="diamond-shapes-data">
                                        <span>Home</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="international-consulting"  {% if include.page.international %} class="active" {% endif %}>
                                    <div class="diamond-shapes-data">
                                        <span>International Consulting</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="management-consulting" {% if include.page.management %} class="active"  {% endif %}>
                                    <div class="diamond-shapes-data">
                                        <span>Management Consulting</span>
                                    </div>
                                </a>
                            </li>
                            <li>

                                <a href="study-consulting" {% if include.page.study %} class="active" {% endif %}>
                                    <div class="diamond-shapes-data">
                                        <span>Study <br>Consulting</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="recruting" {% if include.page.recruting %} class="active" {% endif %}>
                                    <div class="diamond-shapes-data">
                                        <span>Recruting</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="formazione" {% if include.page.formazione %} class="active" {% endif %}>
                                    <div class="diamond-shapes-data">
                                        <span>Formazione</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </section>
                </div>
                <div class="clr"></div>
            </div>
        </div>
    </div>
</header>