.acc-btn2 h1, .acc-btn h1 {
	color: #009cff;
	font-size: 18px;
	text-align: left;
	text-transform: none;
	letter-spacing: 0
}
.acc-container {
	margin: 0 0 50px;
	overflow: hidden
}
.acc-btn, .acc-content {
	margin: 0 auto;
	width: 100%
}
.acc-btn {
	cursor: pointer;
	background: #F1F1F1
}
.acc-content {
	height: 0;
	overflow: hidden
}
.acc-content-inner {
	padding: 10px 25px 30px
}
.open {
	height: auto
}
.acc-btn h1 {
	background: url(../img/icn-accordion-plus.jpg) 98.5% center no-repeat #F1F1F1;
	padding: 15px 35px 15px 25px;
	line-height: 26px;
	margin-bottom: 10px
}
.acc-btn .selected {
	color: #009cff;
	background: url(../img/icn-accordion-minus.jpg) 98.5% center no-repeat #f1f1f1
}

/* accordian 2 */
.acc-btn2 {
	width: 100%;
	margin: 0 auto;
	cursor: pointer;
	background: #F1F1F1
}
.acc-content2 {
	height: 0;
	width: 100%;
	margin: 0 auto;
	overflow: hidden
}
.acc-content2.open {
	height: auto
}
.acc-content-inner2 {
	padding: 10px 15px 30px 50px
}
.acc-btn2 h1 {
	background: url(../img/icn-accordion-plus.jpg) 0 top no-repeat #fff;
	padding: 0 15px 20px 50px;
	line-height: 30px;
	margin-bottom: 15px;
	border-bottom: #CCC 1px solid
}
.acc-btn2 h1:hover {
	color: #000
}
.acc-btn2 .selected {
	color: #000;
	background: url(../img/icn-accordion-minus.jpg) 0 top no-repeat #fff
}
@media (max-width:768px) {
.acc-btn h1 {
	background: url(../img/icn-accordion-plus.jpg) 98.5% center no-repeat #F1F1F1
}
.acc-btn .selected {
	background: url(../img/icn-accordion-minus.jpg) 98.5% center no-repeat #f1f1f1
}
}
@media (min-width:600px) and (max-width:640px) {
.acc-btn h1 {
	background: url(../img/icn-accordion-plus.jpg) 98% center no-repeat #F1F1F1
}
.acc-btn .selected {
	background: url(../img/icn-accordion-minus.jpg) 98% center no-repeat #f1f1f1
}
}
@media (max-width:480px) {
.acc-btn h1 {
	background: url(../img/icn-accordion-plus.jpg) 98% center no-repeat #F1F1F1
}
.acc-btn .selected {
	background: url(../img/icn-accordion-minus.jpg) 98% center no-repeat #f1f1f1
}
}
